<p><%= person.first_name %> <%= person.second_name %> <%= person.first_apellido %> <%= person.second_apellido %>  <%= link_to 'Edit', edit_dataset_person_path(@dataset, person) %> <%= link_to 'Destroy', dataset_person_path(@dataset, person), method: :delete, data: { confirm: 'Are you sure?' } %></p>
