<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @person.second_name %>
</p>

<p>
  <strong>First apellido:</strong>
  <%= @person.first_apellido %>
</p>

<p>
  <strong>Second apellido:</strong>
  <%= @person.second_apellido %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>Birth country:</strong>
  <%= @person.birth_country %>
</p>

<p>
  <strong>Birth state:</strong>
  <%= @person.birth_state %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @person.nationality %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @person.alias %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @person.sex %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Sexual orientation:</strong>
  <%= @person.sexual_orientation %>
</p>

<p>
  <strong>Sexchange surgery:</strong>
  <%= @person.sexchange_surgery %>
</p>

<p>
  <strong>Sexchange surgery type:</strong>
  <%= @person.sexchange_surgery_type %>
</p>

<p>
  <strong>Amputation:</strong>
  <%= @person.amputation %>
</p>

<p>
  <strong>Amputation type:</strong>
  <%= @person.amputation_type %>
</p>

<p>
  <strong>Chronic disease:</strong>
  <%= @person.chronic_disease %>
</p>

<p>
  <strong>Chronic disease type:</strong>
  <%= @person.chronic_disease_type %>
</p>

<p>
  <strong>Prothesis:</strong>
  <%= @person.prothesis %>
</p>

<p>
  <strong>Prothesis type:</strong>
  <%= @person.prothesis_type %>
</p>

<p>
  <strong>Glasses:</strong>
  <%= @person.glasses %>
</p>

<p>
  <strong>Contact lens:</strong>
  <%= @person.contact_lens %>
</p>

<p>
  <strong>Diopters:</strong>
  <%= @person.diopters %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @person.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @person.height %>
</p>

<p>
  <strong>Skin type:</strong>
  <%= @person.skin_type %>
</p>

<p>
  <strong>Eye color:</strong>
  <%= @person.eye_color %>
</p>

<p>
  <strong>Hair type:</strong>
  <%= @person.hair_type %>
</p>

<p>
  <strong>Hair color:</strong>
  <%= @person.hair_color %>
</p>

<p>
  <strong>Facial hair:</strong>
  <%= @person.facial_hair %>
</p>

<p>
  <strong>Body hair:</strong>
  <%= @person.body_hair %>
</p>

<p>
  <strong>Tattoos:</strong>
  <%= @person.tattoos %>
</p>

<p>
  <strong>Tattoos type:</strong>
  <%= @person.tattoos_type %>
</p>

<p>
  <strong>Piercings:</strong>
  <%= @person.piercings %>
</p>

<p>
  <strong>Piercings type:</strong>
  <%= @person.piercings_type %>
</p>

<p>
  <strong>Facial moles:</strong>
  <%= @person.facial_moles %>
</p>

<p>
  <strong>Facial moles type:</strong>
  <%= @person.facial_moles_type %>
</p>

<p>
  <strong>Facial birth marks:</strong>
  <%= @person.facial_birth_marks %>
</p>

<p>
  <strong>Facial birth marks type:</strong>
  <%= @person.facial_birth_marks_type %>
</p>

<p>
  <strong>Facial scars:</strong>
  <%= @person.facial_scars %>
</p>

<p>
  <strong>Facial scars type:</strong>
  <%= @person.facial_scars_type %>
</p>

<p>
  <strong>Hands moles:</strong>
  <%= @person.hands_moles %>
</p>

<p>
  <strong>Hands moles type:</strong>
  <%= @person.hands_moles_type %>
</p>

<p>
  <strong>Hands birth marks:</strong>
  <%= @person.hands_birth_marks %>
</p>

<p>
  <strong>Hands birth marks type:</strong>
  <%= @person.hands_birth_marks_type %>
</p>

<p>
  <strong>Hands scars:</strong>
  <%= @person.hands_scars %>
</p>

<p>
  <strong>Hands scars type:</strong>
  <%= @person.hands_scars_type %>
</p>

<p>
  <strong>Physical disabilities:</strong>
  <%= @person.physical_disabilities %>
</p>

<p>
  <strong>Physical disabilities type:</strong>
  <%= @person.physical_disabilities_type %>
</p>

<p>
  <strong>Mental disabilities:</strong>
  <%= @person.mental_disabilities %>
</p>

<p>
  <strong>Mental disabilities string type:</strong>
  <%= @person.mental_disabilities_string_type %>
</p>

<p>
  <strong>Mental illness:</strong>
  <%= @person.mental_illness %>
</p>

<p>
  <strong>Mental illness type:</strong>
  <%= @person.mental_illness_type %>
</p>

<p>
  <strong>Sight disabilites:</strong>
  <%= @person.sight_disabilites %>
</p>

<p>
  <strong>Sight disabilities type:</strong>
  <%= @person.sight_disabilities_type %>
</p>

<p>
  <strong>Ear disabilities:</strong>
  <%= @person.ear_disabilities %>
</p>

<p>
  <strong>Ear disabilities type:</strong>
  <%= @person.ear_disabilities_type %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @person.ethnicity %>
</p>

<p>
  <strong>Id document:</strong>
  <%= @person.id_document %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @person.id_type %>
</p>

<p>
  <strong>Id photo:</strong>
  <%= @person.id_photo %>
</p>

<p>
  <strong>Biography municipality:</strong>
  <%= @person.biography_municipality %>
</p>

<p>
  <strong>Biography city:</strong>
  <%= @person.biography_city %>
</p>

<p>
  <strong>Biography state:</strong>
  <%= @person.biography_state %>
</p>

<p>
  <strong>Biography country:</strong>
  <%= @person.biography_country %>
</p>

<p>
  <strong>Activist:</strong>
  <%= @person.activist %>
</p>

<p>
  <strong>Journalist:</strong>
  <%= @person.journalist %>
</p>

<p>
  <strong>Migrant:</strong>
  <%= @person.migrant %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @person.occupation %>
</p>

<p>
  <strong>Position:</strong>
  <%= @person.position %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @person.event_date %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @person.event_time %>
</p>

<p>
  <strong>Event street:</strong>
  <%= @person.event_street %>
</p>

<p>
  <strong>Event street number:</strong>
  <%= @person.event_street_number %>
</p>

<p>
  <strong>Event neighborhood:</strong>
  <%= @person.event_neighborhood %>
</p>

<p>
  <strong>Event municipality:</strong>
  <%= @person.event_municipality %>
</p>

<p>
  <strong>Event city:</strong>
  <%= @person.event_city %>
</p>

<p>
  <strong>Event postal:</strong>
  <%= @person.event_postal %>
</p>

<p>
  <strong>Event state:</strong>
  <%= @person.event_state %>
</p>

<p>
  <strong>Event country:</strong>
  <%= @person.event_country %>
</p>

<p>
  <strong>Ls date:</strong>
  <%= @person.ls_date %>
</p>

<p>
  <strong>Ls time:</strong>
  <%= @person.ls_time %>
</p>

<p>
  <strong>Ls street:</strong>
  <%= @person.ls_street %>
</p>

<p>
  <strong>Ls street number:</strong>
  <%= @person.ls_street_number %>
</p>

<p>
  <strong>Ls neighborhood:</strong>
  <%= @person.ls_neighborhood %>
</p>

<p>
  <strong>Ls municipality:</strong>
  <%= @person.ls_municipality %>
</p>

<p>
  <strong>Ls city:</strong>
  <%= @person.ls_city %>
</p>

<p>
  <strong>Ls postal:</strong>
  <%= @person.ls_postal %>
</p>

<p>
  <strong>Ls state:</strong>
  <%= @person.ls_state %>
</p>

<p>
  <strong>Ls country:</strong>
  <%= @person.ls_country %>
</p>

<p>
  <strong>Ls clothes:</strong>
  <%= @person.ls_clothes %>
</p>

<p>
  <strong>Ls clothes top:</strong>
  <%= @person.ls_clothes_top %>
</p>

<p>
  <strong>Ls clothes top color:</strong>
  <%= @person.ls_clothes_top_color %>
</p>

<p>
  <strong>Ls clothes bottom:</strong>
  <%= @person.ls_clothes_bottom %>
</p>

<p>
  <strong>Ls clothes bottom color:</strong>
  <%= @person.ls_clothes_bottom_color %>
</p>

<%= link_to 'Edit', edit_dataset_person_path(@dataset, @person) %> |
<%= link_to 'Back', dataset_person_path(@dataset, @person) %>
